/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: #590202;
}

#container {
    background-color: white;
    padding: 10px;
}

h1, h2, h3 {
    text-align: center;
}

a {
    color: black;
}

a:hover {
    color: blue;
    text-decoration: none;
}



/* Mobile Styles */

nav {
    background-color: #BF2A2A;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
nav li {
    display: block;
}

nav li a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: white;
    background-color: #0E4473;
    text-align: center;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

nav li a:hover {
    background-color: #F2CF63;
    color: black;
}

header h1 {
    font-size: 35px;
    color: black;
}

main {
    border: 2px solid black;
    padding: 10px;
    margin: 10px 0;
}

#lower {
    border: 2px solid black;
    padding: 10px;
}

.col {
    border: 2px solid black;
    margin: 10px;
    padding: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
    color: white;
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: #0E4473;
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
}

.button:hover {
    background-color: #F2CF63;
    color: black;
}

@media (min-width: 786px) {
    
    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 200px;
    }

    main img {
        width: 50%;
    }

    #lower {
        width: 75%;
        margin: 0 auto;
    }

    .col img {
        width: 40%;
    }

}

/* Desktop Styles */

@media (min-width: 1024px) {

    #container {
        width: 65%;
        margin: 20px auto;
    }

    #lower {
        width: 100%;
        display: flex;
    }

    .col {
        width: 33.33%;
    }
}
#xpacs {
    display: flex;
    margin: 0 auto;
    width: 100%
}

.xpaccover {
    margin: 10px;
    
}

.xpaccover img {
    width: 90%;
}


#braves_win {
    width: 50%;
    display: flex;
    
}

#fireworks {
    width: 50%;
    display: flex;
    
}